
h1.T1{
    color:#00ffff;
    font-weight:bold;
    font-family:"Impact";
    text-align:center;
    background-color:#444444;
}

h1.T2{
    color:orchid;
    font-weight:bold;
    font-family:"Impact";
    text-align:center;
    background-color:lime;
}

h2.ST1{
    color:ivory;
    font-weight:bold;
    font-family:"Impact";
    text-align:center;
    background-color:orange;
}
h2.ST2{
    color:sandybrown;
    font-weight:bold;
    font-family:"Impact";
    text-align:center;
    background-color:lemonchiffon;
}

body{
    background-image: url(../images/12.jpeg); 

    
}
